@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
/* NAV BAR */
nav{
  height: 80px;
  width: 100%;
  background-color: #111111;
}
label.logo{
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 100px;
  line-height: 80px;
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a{
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 10px;
}
a.active,a:hover{
  color: #db1d30;
  transition: .5s;
}
nav #icon{
  color: #ffffff;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width:1048px){
  label.logo{
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 17px;
  }
}
@media (max-width:909px){
  nav #icon{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }
  nav ul.show{
    left: 0;
    z-index: 2;
  }
}
@media (max-width:375px){
  label.logo{
    padding: 0 50px;
  }
}
/* BODY */
.content{
  width: 100%;
  height: 625px;
  background-image: url("images/fitness.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.content .slogan{
  width: 50%;
  position: absolute;
  top: 200px;
  left: 5%;
}
label.logo2{
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 20px;
  /* line-height: 80px; */
}
.content .slogan p{
  font-size: 30px;
  color: #fff;
  padding: 20px;
}
@media (max-width:1200px){
  .content .slogan{
    left: 0;
  }
  label.logo2{
    font-size: 80px;
  }
  .content .slogan p{
    font-size: 25px;
  }
}
@media (max-width:735px){
  label.logo2{
    font-size: 60px;
  }
  .content .slogan p{
    font-size: 20px;
  }
}
@media (max-width:603px){
  label.logo2{
    font-size: 60px;
  }
  .content .slogan p{
    font-size: 15px;
  }
}
@media (max-width:425px){
  .content{
    height: 500px;
  }
  label.logo2{
    font-size: 50px;
  }
  .content .slogan p{
    font-size: 15px;
    text-shadow: 5px 5px 5px #000;
  }
}
/* ABOUT */
#about{
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
}
#about .card-box{
  display: block;
  margin: 0 20px;
  background-color: #111111;
}
#about .card-box img{
  width: 100%;
  height: 300px;
  filter: grayscale(100%);
  transition: 0.5s;
}
#about .card-box img:hover{
  filter: none;
}
#about .card-box .info-box{
  padding: 50px 5%;
}
#about .card-box .info-box h4{
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  color: #db1d30;
}
#about .card-box .info-box p{
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
@media (max-width:909px){
  #about{
    display: block;
  }
  #about .card-box{
    display: flex;
    margin: 20px 10px;
  }
  #about .card-box img{
    float: left;
    width: 50%;
  }
  #about .card-box .info-box{
    float: right;
  }
}
@media (max-width:600px){
  #about,#services{
    display: flex;
    flex-direction: column;
  }
  #about .card-box{
    display: block;
    margin: 10px 20px;
    background-color: #111111;
  }
  #about .card-box img{
    width: 100%;
    height: 300px;
    filter: grayscale(100%);
    transition: 0.5s;
  }
}
@media (max-width:375px){
  #about .card-box img{
    height: 200px;
  }
}
/* SERVICES */
#services{
  background-color: #db1d30;
  padding: 50px 0;
}
#services .title{
  width: 100%;
  text-align: center;
}
#services .title h2{
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  padding: 20px 0;
}
#services .services-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#services .services-box .service{
  width: 40%;
  margin: 50px 0;
  border: 2px solid #fff;
  text-align: center;
}
#services .services-box .service h4{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
#services .services-box .service p{
  font-size: 15px;
  font-family: 'Roboto',sans-serif;
  color: #fff;
  padding: 30px 0;
}
@media (max-width:909px){
  #services .services-box{
    display: block;
    width: 90%;
    margin: 0 5%;
  }
  #services .services-box .service{
    width: 100%;
    margin: 40px 0;
  }
}
/* CLASSES */
#classes{
  background-color: #fff;
  overflow: hidden;
}
.bg{
  width: 50%;
  float: left;
  margin: 60px 0;
}
.classes-box{
  width: 50%;
  display: block;
  float: right;
}
.classes-box h2{
  font-size: 40px;
  font-weight: bold;
  color: #111;
  padding: 20px 5%;
}
.classes-box p{
  font-size: 15px;
  color: #949494;
  /* padding: 20px 5%; */
  padding: 10px 5% 0 5%;
}
.classe{
  width: 90%;
  display: flex;
  margin: 20px 5%;
}
.classe img{
  width: 50%;
  float: left;
}
.classe .classe-info{
  width: 50%;
  float: right;
  padding: 10px 5%;
  background-color: #111;
}
.classe .classe-info a{
  text-decoration: none;
}
.classe .classe-info h4{
  font-size: 25px;
  color: #db1d30;
  padding-bottom: 30px;
}
.classe .classe-info p{
  font-size: 15px;
  color: #fff;
  padding: 20px 0;
}
.price{
  width: 40%;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: #db1d30;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}
@media (max-width:1024px){
  .price{
    width: 80%;
    padding: 10px 20px;
  }
}
@media (max-width:960px){
  .bg{
    display: none;
  }
  .classes-box{
    width: 100%;
    display: block;
  }
  .classe .classe-info h4{
    font-size: 30px;
    padding: 10px 0 40px 0;
  }
  .classe .classe-info p{
    font-size: 15px;
    padding: 20px 0 100px 0;
  }
}
@media (max-width:600px){
  .classe{
    width: 90%;
    display: block;
    margin: 20px 5%;
  }
  .classe img{
    width: 100%;
    float: none;
    margin: -10px 0;
  }
  .classe .classe-info{
    width: 100%;
    float: none;
    text-align: center;
  }
  .price{
    margin: 10px 10%;
  }
}
/* TRAINING */
.training-box{
  background-color: #111;
  overflow: hidden;
  margin: 20px 0;
}
.training-info{
  width: 50%;
  float: left;
}
.training-info h4{
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  padding: 60px 5%;
}
.training-info p{
  color: #fff;
  font-size: 15px;
  padding: 10px 5% 40px 5%;
}
.training-info a{
  text-decoration: none;
  color: #fff;
  background-color: #db1d30;
  padding: 10px 20px;
  margin: 0 5%;
  transition: all 0.5s ease;
}
.training-info a:hover{
  background-color: #db1d30cc;
}
.training-img{
  width: 50%;
  float: right;
}
.training-img img{
  width: 100%;
}
@media (max-width:1260px){
  .training-info h4{
    padding: 10px 5%;
  }
}
@media (max-width:1045px){
  .training-info h4{
    padding: 5px 5%;
    font-size: 25px;
  }
}
@media (max-width:990px){
  .training-info{
    width: 100%;
    float: none;
    height: 250px;
  }
  .training-info h4{
    padding: 10px 5%;
  }
  .training-img{
    display: none;
  }
}
@media (max-width:600px){
  .training-info{
    height: 290px;
  }
}
@media (max-width:425px){
  .training-info{
    height: 400px;
  }
  .training-info h4{
    font-size: 25px;
    padding: 20px 5%;
  }
}
/* SHEDULE */
.shedule-box{
  background-color: #fff;
  overflow: hidden;
}
.shedule-description{
  width: 50%;
  float: left;
}
.shedule-description h2{
  font-size: 30px;
  font-weight: 900;
  padding: 20px 5%;
  color: #111111;
}
.shedule-description p{
  font-size: 15px;
  padding: 10px 5%;
  color: #4e4e4e;
}
.shedule-description img{
  margin: 20px 5%;
}
.shedule-time{
  width: 50%;
  float: right;
}
.shedule-time table{
  margin: 100px 5%;
}
.shedule-time table,td,tr{
  border: 1px solid #111;
  border-collapse: collapse;
}
.shedule-time table td{
  padding: 10px 20px;
  text-align: center;
}
.day1{
  background-color: #111111;
  color: #fff;
  transition: 0.5s;
}
.day2{
  background-color: #2c2c2c;
  color: #fff;
  transition: 0.5s;
}
.hour{
  font-weight: 900;
}
@media (max-width:1024px){
  .shedule-description img{
    margin: 20px 0;
  }
}
@media (max-width:1000px){
  .shedule-description{
    width: 100%;
    float: none;
  }
  .shedule-time{
    width: 100%;
    float: none;
  }
  .shedule-time table{
    width: 90%;
    margin: 30px 5%;
  }
  .shedule-description img{
    display: none;
  }
}
@media (max-width:425px){
  .shedule-time table{
    width: 100%;
    margin: 30px 0;
  }
  .shedule-time table td{
    padding: 5px 0px;
    text-align: center;
  }
}
/* GALERIE */
.gelerie-title{
  width: 100%;
  text-align: center;
}
.gelerie-title h2{
  font-size: 50px;
  font-weight: 900;
  color: #111111;
  padding: 0 0 20px 0;
}
.galerie-box{
  display: flex;
  flex-wrap: wrap;
}
.galerie-box img{
  width: 50%;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.galerie-box img:hover{
  width: 50%;
  filter:none;
}
/* PRICING */
#pricing{
  background-color: #fff;
  padding: 30px 0;
}
.pricing-title{
  width: 100%;
  text-align: center;
}
.pricing-title h2{
  font-size: 40px;
}
.pricing-title p{
  width: 50%;
  margin: 30px 25%;
}
.pricing-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.pricing-card{
  width: 30%;
  display: block;
  background-color: #d1d1d1;
}
.pricing-price{
  width: 100%;
  text-align: center;
  background-color: #db1d30;
  color: #fff;
  padding: 10px 0;
}
.pricing-card img{
  width: 100%;
}
.pricing-info{
  text-align: center;
}
.pricing-info h4{
  font-size: 20px;
  padding: 10px 0 20px 0;
}
.pricing-info p{
  padding: 5px 0;
}
.pricing-info button{
  background-color: #db1d30;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
}
.pricing-info button:hover{
  background-color: #db1d30dd;
}
@media (max-width:900px){
  .pricing-box{
    width: 90%;
    display: block;
  }
  .pricing-card{
    width: 100%;
    margin: 20px 5%;
    overflow: hidden;
  }
  .pricing-card img{
    width: 50%;
    float: left;
  }
  .pricing-info{
    width: 50%;
    float: right;
  }
  .pricing-info h4{
    font-size: 20px;
    padding: 10px 0 10px 0;
  }
  .pricing-info button{
    width: 50%;
    margin: 5px 0;
  }
}
@media (max-width:768px){
  .pricing-box{
    width: 50%;
  }
  .pricing-card{
    width: 100%;
    margin: 40px 50%;
    padding-bottom: 20px;
  }
  .pricing-card img{
    width: 100%;
    float: none;
  }
  .pricing-info{
    width: 100%;
    float: none;
  }
}
@media (max-width:500px){
  .pricing-box{
    width: 90%;
  }
  .pricing-card{
    width: 100%;
    margin: 40px 5%;
  }
}
/* CONTACT */
#contact{
  background-color: #111111;
  overflow: hidden;
}
.contact-title{
  width: 100%;
  text-align: center;
}
.contact-title h2{
  font-size: 50px;
  color: #fff;
  padding: 10px 0;
}
.contact-title h4{
  font-size: 20px;
  color: #db1d30;
  padding-bottom: 20px;
}
.contact-box{
  width: 50%;
  float: left;
}
.contact-input,.contact-btn{
  width: 100%;
  margin: 20px 10%;
}
.contact-btn button{
  width: 80%;
  margin: 0 5%;
  padding: 10px 0;
  border: none;
  background-color: #db1d30;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.contact-btn button:hover{
  background-color: #b51c2b;
}
.contact-btn button i{
  padding-left: 20px;
}
.contact-input input,.contact-input textarea{
  width: 80%;
  margin: 0 5%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 3px solid #fff;
  outline: none;
}
.contact-input input::placeholder,.contact-input textarea::placeholder{
  color: #ddd;
}
.map{
  width: 50%;
  float: right;
  padding-top: 20px;
}
.map iframe{
  width: 90%;
  height: 400px;
  margin: 0 5%;
}
@media (max-width:768px){
  .contact-box{
    width: 100%;
    float: none;
  }
  .map{
    width: 100%;
    float: none;
    padding-top: 20px;
  }
  .contact-input input,.contact-input textarea{
    width: 80%;
    margin: 0;
  }
  .contact-btn button{
    width: 80%;
    margin: 0;
  }
}
/* @media (max-width:1240px){
  .contact-box{
    width: 100%;
    float: none;
  }
  .map{
    width: 100%;
    float: none;
  }
} */
/* FOOTER */
.footer{
    width: 100%;
    background-color: #111111;
    display: block;
}
.footer-inner{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}
.footer-div{
    width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}
label.logo1{
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 20px;
  /* line-height: 80px; */
}
.border-1{
    height: 3px;
    width: 40px;
    background-color: #db1d30;
    border: 0;
}
.footer-div ul{
    list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.footer-div ul a{
    text-decoration: none;
	outline: none;
	color: #ffffff;
	transition: 0.3s;
}
.footer-div ul a:hover{
    color: #db1d30;
    padding-left: 5px;
}
.footer-div ul li{
    margin: 10px 0;
	height: 25px;
}
.footer-div li i{
    margin-right: 20px;
}
.footer-div a i{
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 20px 10px;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}
.footer-div a i.fa-facebook-f:hover{
    background-color: #1877f2;
}
.footer-div a i.fa-instagram:hover{
    background-image: linear-gradient(-135deg,#4e4598,#db1d30,#f3b136);
}
.footer-div a i.fa-twitter:hover{
    background-color: #1c9cea;
}
.footer-bottom {
	padding: 10px;
	background: #db1d30;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
h3{
    color: #db1d30;
}
/* for tablet mode view */

@media screen and (max-width: 991px) {
	.footer-div {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-div {
		width: 100%;
	}
}